// Fonts
$main-font: 'Roboto Mono', monospace;

// Colours
$white: #fff;
$off-white: #ededed;
$purple: #777bf8;
$light-blue: #68d4f8;
$bright-green: #3ecf8e;

// Widths
$max-width: 1100px;

// Effects
$bs: 0 2px 2px -2px rgba(0, 0, 0, .15);
